<div style="background-color: var(--mainBackground); padding: 10px 0 10px 0;">
    <div class="flexrow flex-group-center listBackground grid grid-5col" style="background-color: var(--pitchBorder); margin: 0;">
        <div class="wantToKnowMore">
            <i class="fa-solid fa-heart-pulse awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">HP</span>
            <input class="input-xs" type="number" name="hp" value="{{actor.system.hp.value}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">/ {{actor.system.hp.max}}</span>
        </div>
        <div class="wantToKnowMore">
            <i class="fa-regular fa-bandage awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">Wounds</span>
            <input class="input-small" style="text-align: center" type="number" name="system.traumaMod" value="{{actor.system.traumaMod.value}}" data-dtype="Number" placeholder="0"/>
        </div>
        <div class="wantToKnowMore">
            <i class="fa-regular fa-stopwatch awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">Init Mod (Wis + Misc)</span>
            <input class="input-small" style="text-align: center" type="number" name="system.initMod" value="{{actor.system.iniMod.value}}" data-dtype="Number" placeholder="0"/>
        </div>
        <div class="wantToKnowMore">
            <i class="fa-solid fa-heart-pulse awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">HP</span>
            <input class="input-xs" type="number" name="md" value="{{actor.system.magicDice.value}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">/ {{actor.system.magicDice.max}}</span>
        </div>
        <div class="wantToKnowMore">
            <i class="fa-regular fa-burst awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">Move</span>
            <input class="input-xs" type="number" name="system.move" value="{{actor.system.move.value}}" data-dtype="Number" placeholder="0"/>
        </div>
    </div>
</div>