<div style="background-color: var(--mainBackground); padding: 10px 0 10px 0;">
	<div class="flexrow flex-group-center listBackground grid grid-5col"
		style="background-color: var(--pitchBorder); margin: 0; display: flex; justify-content:space-around; width:100%;">
		<div class="wantToKnowMore">
			<i class="fa-solid fa-heart-pulse awesomeIcon" style="font-size: 18px;"></i>
			<span class="tooltipText resource-label" style="font-size: 13px;">HP</span>
			<input class="input-xs" style="font-size: 18px;" type="number" name="system.hp.value"
				value="{{actor.system.hp.value}}" data-dtype="Number" placeholder="0" />
			<span class="resource-value input-small" style="font-size: 18px;">/</span>
			<input class="input-xs" style="font-size: 18px;" type="number" name="system.hp.max"
				value="{{actor.system.hp.max}}" data-dtype="Number" placeholder="0" />
		</div>
		<div class="wantToKnowMore rollable" data-type="traumeSave" data-name="traumaSave" data-key="system.traumaMod"
			data-roll="2d6+@abilities.con.mod+@traumaMod">
			<i class="fa-regular fa-bandage awesomeIcon" style="font-size: 18px;"></i>
			<span class="tooltipText resource-label" style="font-size: 13px;">Trauma Save</span>
			<span class="resource-label" style="font-size: 18px"> {{actor.system.traumaMod}}</span>
		</div>
		<div class="wantToKnowMore rollable" data-type="initiative" data-name="initiative" data-key="system.initMod"
			data-roll="2d6+@abilities.wis.mod+@initMod">
			<i class="fa-regular fa-stopwatch awesomeIcon" style="font-size: 18px;"></i>
			<span class="tooltipText resource-label" style="font-size: 13px;">Initiative</span>
			<span class="resource-label" style="font-size: 18px"> {{actor.system.initMod}}</span>
		</div>
		<div class="wantToKnowMore">
			<i class="fa-regular fa-person-running awesomeIcon" style="font-size: 18px;"></i>
			<span class="tooltipText resource-label" style="font-size: 13px;">Move</span>
			<span class="resource-label" style="font-size: 18px">{{actor.system.move.value}}</span>
		</div>
		<div class="wantToKnowMore">
			<i class="fa-solid fa-hand-sparkles awesomeIcon" style="font-size: 18px;"></i>
			<span class="tooltipText resource-label" style="font-size: 13px;">MD</span>
			<input class="input-xs" style="font-size: 18px;" type="number" name="system.magicDice.value"
				value="{{actor.system.magicDice.value}}" data-dtype="Number" placeholder="0" />
			<span class="resource-value input-small" style="font-size: 18px;">/ {{actor.system.magicDice.max}}</span>
		</div>
	</div>
</div>
