<form class="{{cssClass}} flexcol" autocomplete="off">
	<div class="grid grid-12col">
		<div class="wrapperleft npcvariant1">
			{{!-- Sheet Header --}}
			{{> systems/glog/templates/actor/parts/headerblock.html }}
			{{!-- Secondary Tab Navigation --}}
			<nav class="secondary-tabs tabs" style="height: 52px; line-height: 52px;" data-group="secondary">
				<a class="item" data-tab="general">General</a>
				<a class="item" data-tab="wounds">Wounds</a>
				<a class="item" data-tab="templates">Status</a>
			</nav>
		</div>
	</div>
</form>
