<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="grid grid-9col">
        <div class="wrapperleft">
            {{!-- Sheet Header --}}
                {{> systems/glog/templates/actor/parts/headerblock.html }}
        </div>
        <div class="wrappercenter">
            {{!-- Primary Tab Navigation --}}
                <nav class="primary-tabs tabs" data-group="primary">
                    <a class="item" data-tab="ego">Bio</a>
                    <a class="item" data-tab="skills">Combat</a>
                    <a class="item" data-tab="weapons">Inventory</a>
                    <a class="item" data-tab="psi">Spells</a>
                </nav>
            {{!-- Health Overview --}}
                {{> systems/glog/templates/actor/parts/healthbar.html }}
            <div class="contentcenter">
                {{!-- Center Body --}}
                <section class="primary-body"> 
                    {{!-- Spells Tab --}}
                        {{> systems/glog/templates/actor/parts/tabs/ego-tab.html }}
                    {{!--Skills Tab--}}
                        {{> systems/glog/templates/actor/parts/tabs/skills.html }}
                    {{!-- Weapons Tab --}}
                        {{> systems/glog/templates/actor/parts/tabs/npcgear.html }}
                    {{!-- Psi Tab --}}
                        {{> systems/glog/templates/actor/parts/tabs/psi-tab.html }}
                    {{!-- Effects Tab --}}
                        {{> systems/glog/templates/actor/parts/tabs/effects-tab.html }}
                </section>
            </div>
        </div>
        <div class="wrapperright">
            {{> systems/glog/templates/actor/parts/currentStatus/sidecar.html }}
        </div>
    </div>
</form>
