<form style="width: 910px; height:598px;" class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <div class="glog">
            <header id="left-col"class="sheet-header grid grid-3col" style="height: 100%; margin-top:0; padding: 4px;">
                <div class="flexcol flex-between" style="width: 240px;">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                    <h1 class="charname"><input type="text" name="system.hp.value" placeholder="name" value="" data-dtype="Number" class="cornflower flex-group-center"/></h1>
                    <h1 class="charname"><input type="text" name="system.hp.value" placeholder="class" value="" data-dtype="Number" class="cornflower flex-group-center"/></h1>
                    <div class="flexcol">
                        <div class="flexrow" style="margin: 5px 0;">
                                <label for="system.hp.value" class="resource-label flex-group-center flexlarge" style="height: 38px;"><h1 class="charname">Level</h1></label>
                                <input type="text" name="system.hp.value" value="0" data-dtype="Number" class="flex-group-center dataInput"/>
                        </div>
                        <div class="flexrow" style="margin: 5px 0;">
                            <label for="system.hp.value" class="resource-label flex-group-center flexlarge" style="height: 38px;"><h1 class="charname">Wounds</h1></label>
                            <input type="text" name="system.hp.value" value="0" data-dtype="Number" class="flex-group-center dataInput"/>
                        </div>
                    </div>
                    <div class="resource flexrow" width="238" style="border: 1px solid #6495ED; margin-top: 5px;">
                        <div class="flex-group-center">
                            <label for="system.hp.value" class="resource-label flex-group-center">HP</label>
                            <input type="text" name="system.hp.value" value="4" data-dtype="Number" class="hpInput flex-group-center"/>
                        </div>
                        <div class="flex-group-center" style="width: 100%; border-left: 1px solid #6495ED;">
                            <label for="system.hp.value" class="resource-label flex-group-center">Max</label>
                            <input type="text" name="system.hp.max" value="4" data-dtype="Number" class="hpInput flex-group-center"/>
                        </div>
                      </div>
                </div>
                <div class="grid-span-2" style="width: 631px; height:100% ">
                    <div class="flexrow flex-between">
                        <div class="flexcol flex-group-center" style="width: 100%; margin: 0 5px 0 0;">
                            <button class="resource-label flex-group-center btn" style="height: 38px; width: 92px;"><h1 class="charname">STR</h1></button>
                            <input class="cornflower flexrow flex-group-center hpInput" style=" border: 1px solid #6495ed; height: 50px; width: 92px; font-size: 2.5rem;" value="0"/>
                        </div>
                        <div class="flexcol flex-group-center" style="width: 100%; margin: 0 5px;">
                            <button class="resource-label flex-group-center btn" style="height: 38px; width: 92px;"><h1 class="charname">CON</h1></button>
                            <input class="cornflower flexrow flex-group-center hpInput" style=" border: 1px solid #6495ed; height: 50px; width: 92px; font-size: 2.5rem;" value="0"/>
                        </div>
                        <div class="flexcol flex-group-center" style="width: 100%; margin: 0 5px;">
                            <button class="resource-label flex-group-center btn" style="height: 38px; width: 92px;"><h1 class="charname">DEX</h1></button>
                            <input class="cornflower flexrow flex-group-center hpInput" style=" border: 1px solid #6495ed; height: 50px; width: 92px; font-size: 2.5rem;" value="0"/>
                        </div>
                        <div class="flexcol flex-group-center" style="width: 100%; margin: 0 5px;">
                            <button class="resource-label flex-group-center btn" style="height: 38px; width: 92px;"><h1 class="charname">INT</h1></button>
                            <input class="cornflower flexrow flex-group-center hpInput" style=" border: 1px solid #6495ed; height: 50px; width: 92px; font-size: 2.5rem;" value="0"/>
                        </div>
                        <div class="flexcol flex-group-center" style="width: 100%; margin: 0 5px;">
                            <button class="resource-label flex-group-center btn" style="height: 38px; width: 92px;"><h1 class="charname">WIS</h1></button>
                            <input class="cornflower flexrow flex-group-center hpInput" style=" border: 1px solid #6495ed; height: 50px; width: 92px; font-size: 2.5rem;" value="0"/>
                        </div>
                        <div class="flexcol flex-group-center" style="width: 100%; margin: 0 0 0 5px;">
                            <button class="resource-label flex-group-center btn" style="height: 38px; width: 92px;"><h1 class="charname">CHA</h1></button>
                            <input class="cornflower flexrow flex-group-center hpInput stat" value="0"/>
                        </div>
                    </div>
                    <nav class="sheet-tabs tabs flexrow flex-between" data-group="primary" style="margin-top: 10px; width: 628px;">
                        <a class="item flexrow flex-group-center tab-link " data-tab="features">Overview</a>
                        <a class="item flexrow flex-group-center tab-link" style="margin-left: -1px;" data-tab="description">Combat</a>
                        <a class="item flexrow flex-group-center tab-link" style="margin-left: -1px;" data-tab="items">Inventory</a>
                        <a class="item flexrow flex-group-center tab-link" style="margin-left: -1px;" data-tab="spells">Spells</a>
                        <a class="item flexrow flex-group-center tab-link" style="margin-left: -1px;" data-tab="effects">Effects</a>
                    </nav>
                    <div class="tab overview flexrow flex-group-center" data-group="primary" data-tab="overview" style="border: 1px solid #6495ed; width: 626px; margin-top: -1px; height: 475px;">
                        {{editor system.overview target="system.overview" rollData=rollData button=true owner=owner editable=editable}}
                    </div>

                    {{!-- Combat Tab --}}
                    <div class="tab combat flexrow flex-group-center" data-group="primary" data-tab="combat"  style="border: 1px solid #6495ed; width: 626px; margin-top: -1px; height: 475px;">
                      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
                      {{editor system.combat target="system.combat" rollData=rollData button=true owner=owner editable=editable}}
                    </div>
                
                    {{!-- Owned Items Tab --}}
                    <div class="tab inventory flexrow flex-group-center" data-group="primary" data-tab="inventory"  style="border: 1px solid #6495ed; width: 626px; margin-top: -1px; height: 475px;">
                       {{> "systems/glog/templates/actor/parts/actor-items.html"}}
                    </div>
                
                    {{!-- Owned Spells Tab --}}
                    <div class="tab spells flexrow flex-group-center" data-group="primary" data-tab="spells"  style="border: 1px solid #6495ed; width: 626px; margin-top: -1px; height: 475px;">
                      {{> "systems/glog/templates/actor/parts/actor-spells.html"}}
                    </div>
                
                    {{!-- Active Effects Tab --}}
                    <div class="tab effects flexrow flex-group-center" data-group="primary" data-tab="effects"  style="border: 1px solid #6495ed; width: 626px; margin-top: -1px; height: 475px;">
                      {{> "systems/glog/templates/actor/parts/actor-effects.html"}}
                    </div>
                </div>
            </header>
    </div>
</form>